.example__wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 -20px;
  padding: 0 20px 45px;
  background-color: #eaeaea;
}

.example__description {
  margin: 0 -29px;
  padding: 25px 29px 0;
}

.example-title {
  margin-bottom: 40px;
}

.example__text {
  margin-bottom: 20px;
  color: $special_dark-grey;
}

.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 35px;
}

.result__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  border: 1px solid $special_grey;
}

.result {
  width: 100%;
  display: block;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-color;
}

.result__text {
  position: absolute;
  bottom: -27%;
  padding: 0 4px;
  margin: 0 17px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: $special_dark-grey;
  text-align: center;
  background-color: #eaeaea;
}

.example__costs {
  margin: 0;
  margin-bottom: 10px;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $dark-color;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: $tablet-width) {
  .example__wrapper {
    margin: 0 -29px;
    padding: 0 13px 45px 29px;
    background-color: transparent;
  }

  .example__description {
    padding-top: 45px;
    margin-bottom: 72px;
    background-color: transparent;
  }

  .example-title {
    margin-bottom: 60px;
  }

  .example__text {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .resuits__block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 162px;
  }

  .results-list {
    gap: 43px;
  }

  .result {
    font-size: 30px;
    line-height: 37px;
  }

  .result__text {
    bottom: -14%;
    padding: 0 5px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: $light-color;
  }

  .example__costs {
    justify-self: end;
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  .example__costs span {
    justify-self: end;
    display: block;
    margin-top: 10px;
  }
}

@media screen and (min-width: $desktop-width) {
  .example__wrapper {
    position: relative;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    gap: 30px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      inset: 164px -110px 0;
      background-color: #e2e2e2;
      z-index: -1;
    }
  }

  .example__description {
    max-width: 40%;
    padding-top: 26px;
  }

  .example-title {
    margin-bottom: 147px;
  }

  .example__text {
    margin-bottom: 70px;
  }

  .resuits__block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 63px;
  }

  .results-list {
    max-width: 84%;
    margin: 0;
  }

  .result__text {
    background-color: #e2e2e2;
  }

  .example__costs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: flex-start;
    gap: 65px;
    margin: 0;
  }

  .example__costs span {
    justify-self: flex-start;
    margin: 0;
  }
}
