.map {
  display: block;
  width: 100vw;
  min-height: 320px;
  margin: 0 -20px;
  border: 0;
}

@media screen and (min-width: $tablet-width) {
  .map {
    height: 400px;
    margin: 0 -29px;
  }
}

@media screen and (min-width: $desktop-width) {
  // .map__wrapper {
  //   position: relative;
  // }

  .map {
    margin: 0;
  }
}
